[Unit]
Description=Icinga2 passive replicator
After=network.target

[Service]
Environment="I2PR_LOGGING_CONFIG=/opt/central/logging.conf"
Environment="I2PR_PORT=5010"
Environment="I2PR_HOST=0.0.0.0"

User=i2pr
WorkingDirectory=/opt/i2pr
ExecStart=/opt/i2pr/venv/bin/uvicorn --port 5010 --host 0.0.0.0 icinga2_passive_replicator.routes:app
Restart=always

[Install]
WantedBy=multi-user.target